.a
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
  background-color: blue;
}
.b
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: brown;
}
